:root {
  --background-color: rgb(0, 50, 65)
}

.pixelText {
  color: white;
  font-smooth: never;
  font-family: 'Bahnschrift SemiBold', sans-serif;
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.center {
  display: block;
  text-align: center;
  margin: 0%;
}

.centerLeft {
  display: block;
  text-align: left;
  margin-left: 7%;
}

.topMargin {
  margin-top: 15%;
}

.sidebar {
  justify-items: center;
  text-align: center;
  margin-top: 0%;
}

@keyframes hoverOut {
  from { transform: translateX(10px); }
  to { transform: translateX(0px); }
}

@keyframes hoverIn {
  from { transform: translateX(0px); }
  to { transform: translateX(10px); }
}

.sidebarLeftElement {
  animation-name: hoverOut;
  animation-duration: 0.3s;
}

.sidebarLeftElement:hover {
  animation-name: hoverIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.generalbutton {
  background-color: var(--background-color);
  border-color: white;
  border-radius: 6px;
}

.navbutton {
  background-color: var(--background-color);
  border-color: var(--background-color);
  border-width: 0;
  border-radius: 6px;
  margin-top: 4px;
}

.navbutton:hover {
  text-decoration: underline;
}

.icon {
  margin: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}